name: AI Assessment

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  assess:
    runs-on: ubuntu-latest
    env:
      XAI_API_KEY: ${{ secrets.XAI_API_KEY }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Install crush
        run: |
          go install github.com/charmbracelet/crush/cmd/crush@latest

      - name: Update crush providers
        run: |
          crush update-providers

      - name: Setup crush config
        run: |
          mkdir -p $HOME/.local/share/crush
          ## setup default models
          cat > $HOME/.local/share/crush/crush.json << 'EOF'
          {
            "models": {
              "large": {"model":"grok-4-1-fast-reasoning","provider":"xai","max_tokens":200000},
              "small": {"model":"grok-4-1-fast-non-reasoning","provider":"xai","max_tokens":200000}
            }
          }
          EOF

      - name: Run prompt
        run: |
          crush run -p "Read the contents of the file .llm/prompts/assestment.md and follow the instructions." --yolo
          test -f assessment.md || (echo "Assessment file not found" && exit 1)
          test -f assessment-results.json || (echo "Assessment results file not found" && exit 1)
          jq '.containsCriticalIssues' assessment-results.json | grep -q 'false' || (echo "Critical issues found" && exit 1)

      - name: Upload findings
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: assessment
          path: assessment.md
